{% include 'header.html' %}

<div class="pt-5">
    <img style="width: 100%;" src="/static/images/3.jpg" alt="">

    <footer>
        <ul>
            <li class="foothead">
                <strong>About</strong>
                <ul class="foot2">
                    <li><a href="#">Who we are</a></li>
                    <li><a href="#">What we do</a></li>
                    <li><a href="#">Our Aim</a></li>
                    <li><a href="#">Community</a></li>
                </ul>
            </li>

            <li class="foothead">
                <strong>Sites</strong>
                <ul class="foot2">
                    <li><a href="#">Site1</a></li>
                    <li><a href="#">Site2</a></li>
                    <li><a href="#">Site3</a></li>
                    <li><a href="#">Site4</a></li>
                </ul>
            </li>

            <li class="foothead">
                <strong>Games</strong>
                <ul class="foot2">
                    <li><a href="#">Calculator</a></li>
                    <li><a href="#">Rock Paper Scissor</a></li>
                    <li><a href="#">Game</a></li>
                    <li><a href="#">Game</a></li>
                </ul>
            </li>

            <li class="foothead">
                <strong>Try & Error</strong>
                <ul class="foot2">
                    <li><a href="{% url 'opt1' %}">Opt1</a></li>
                    <li><a href="#">Optional</a></li>
                    <li><a href="#">Optional</a></li>
                    <li><a href="#">Optional</a></li>
                </ul>
            </li>
        </ul>
    </footer>

<div class="d1">
    <h1>hello</h1>
</div>